.idea/
.vscode/

.DS_Store
Thumbs.db

backend/target/
*.class
*.jar
*.war

.env
*.env


frontend/node_modules/
frontend/dist/
frontend/build/

uploads/
data/
db.json


*.log
logs/

*.etap
*.model
*.h5

**/docker-data/

tmp/

backend/src/main/resources/

*.sql

# Block documents everywhere
*.pdf
*.ppt
*.pptx
*.docx

# Allow documents ONLY inside Documentations
!Documentations/
!Documentations/**/*.pdf
!Documentations/**/*.ppt
!Documentations/**/*.pptx
!Documentations/**/*.docx
